@model TransGGP.Domain.Models.Cliente

<h1>Nuevo Cliente</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
